.App {
  background-color: tan;
}

.App-header {
  padding: 5px;
  background-color: grey;
  text-align: center;
  border-bottom: 1px solid black;
}

.App-header-title {
  text-align: center;
  text-emphasis: bold;
  margin-top: 50%;
}

.App-links {
  max-width: fit-content;
  margin: auto;
  margin-bottom: 20%;
  margin-top: 10%;
}

.App-midsection {
  background-color: teal;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-sidebar {
  border-right: 1px solid black;

  width: 20%;
  background-color: yellow;
  box-shadow: inset 0 0 10px 10px black;
}

.App-body {
  width: 80%;
  background-color: purple;
  display: flex;
  flex-direction: column;
}

.App-figure {
  border: thin black solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: 5% 70% 5% 10%;
}
.App-image {
  max-width: 220px;
  max-height: 150px;
}
.App-figcaption {
  padding: 3px;
  text-align: center;
}

.App-body-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: yellow;
}

.App-body-box {
  height: 100px;
  width: 100px;
  border: darkblue 2px solid;
  box-shadow: 10px 5px 5px blue;
  background-color: chartreuse;
}

.App-footer {
  min-height: 10vh;
  /* background-color: #111fff; */
}
